# JWT Configuration
JWT_SECRET_KEY="your_jwt_secret"

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"

# Database Configuration
HOST = "your_host"
USER = "your_user"
PASSWORD = "your_password"
DATABASE = "your_database"