# Database Configuration
DATABASE_URL="mysql+pymysql://user:password@localhost/smartedu"

# JWT Configuration
JWT_SECRET_KEY="your_secret_key"

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"