cloudinary==1.43.0
facenet_pytorch==2.6.0
Flask==3.0.3
flask_cors==5.0.1
flask_sqlalchemy==3.1.1
mysql_connector_repackaged==0.3.1
numpy==1.26.4
opencv_python==4.11.0.86
opencv_python_headless==4.11.0.86
Pillow==10.2.0
PyJWT==2.10.1
python-dotenv==1.0.1
python_bcrypt==0.3.2
pyvi==0.1.1
Requests==2.32.3
SQLAlchemy==2.0.38
torch==2.2.2
